$background-color: #F0F0F0;
$text-color: #333333;
$link-color: #8E24AA;
$background-color-form: rgb(229 231 235);
$border-color: #ddd;

$font-main: 'Times New Roman', sans-serif;
$h1-large-font: 40px;
$h1-font: 25px;
$h2-font: 20px;

$spacing-unit: 10px;

$spacing-x: 16px;
$spacing-y: 8px;